# hrm ignore
/extern_libs
/mxsrclib
List
Obj
settings
*.out
*.log
*.o
*.xcl

# irs global ignore
*.*~
*.SchDocPreview
*.bak
*.csv
*.dcu
*.dep
*.ewt
*.il?
*.map
*.obj
*.pbd
*.pbi
*.pch
*.r90
*.s90
*.tds
*.tmp
*.~*
irsconfig.h
irsconfig.h
lsprst7.*
sysprs7.*
tmpprst.*
~$*.*
~W*.tmp
/__history
/Desktop.ini
*.orig
*.sim
